.list__projects {
    background: url('../../../public/img/images/imgPersonalAccount/PersonalAccountBackground.png'),
    #1B1B1B repeat;
    max-width: 1920px;
    margin: 0 auto;
}

.nav__list__projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__projects__block {
    width: 1474px;
    height: auto;
    border-radius: 25px;
    background: #FFF;

    margin-left: 252px;
    margin-right: 194px;
    margin-bottom: 92px;
}

.list__projects__block table {
    width: inherit;
    table-layout: fixed;
    border-spacing: 0;
}

th {
    padding: 34px 48px 29px;
    vertical-align: center;
    text-align: left;
    border-bottom: 1px solid rgba(133, 133, 133, 0.76);
}

td {
    padding: 29px 48px 29px;
    border-bottom: 1px solid rgba(133, 133, 133, 0.76);
}

td text {
    color: #524E4E;
    font-family: Neue Machina, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.list__projects__block__name {
    display: flex;
    gap: 9px;
}

.list__projects__block thead text {
    color: #424242;
    font-family: Neue Machina, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.list__projects__block__FL {
    display: flex;
    gap: 20px;
    align-items: center;
}

.list__projects__block__FL-checkbox {
    opacity: 0;
    position: absolute;
}

.list__projects__block__users__info {
    position: absolute;
    margin-top: 173px;
    right: 950px;

    display: none;
    width: 290px;
    height: 139px;
    border-radius: 10px;
    border: 1px solid #747474;
    background: #FFF;
}

.list__projects__block__FL-checkbox:checked ~ #list__projects__block__FL__users_info > div {
    display: block;
}

#list__projects__block__FL__users_info > div {
    position: absolute;
    margin-top: 18px;
    right: 950px;

    display: none;
    width: 290px;
    height: 139px;
    border-radius: 10px;
    border: 1px solid #747474;
    background: white;
}

.list__projects__block__users__info__header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #747474;
}

.list__projects__block__users__info__header text {
    color: #747474;
    font-family: Neue Machina, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.list__projects__block__all__users {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list__projects__block__all__users text {
    color: #424242;
    font-family: Neue Machina, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    cursor: pointer;
}

.list__projects__block__users__info__header text:active {
    color: #0b76ef;
    transform: translate(0.1em, 0.1em);
}

.list__projects__block__footer {
    display: flex;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.list__projects__block__footer text {
    color: #424242;
    font-family: Neue Machina, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.list__projects__block__footer__noted {
    padding-right: 64px;
}

.list__projects__block__footer__pages {
    padding-left: 202px;
    padding-right: 42px;
}

.list__projects__block__footer__pagination {
    display: flex;
    gap: 10px;
}

.list__projects__block__footer__pagination label {
    color: #424242;
    font-family: Neue Machina, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.list__projects__block__footnote {
    display: flex;
    align-items: center;

    gap: 30px;
    padding-left: 49px;
    padding-bottom: 28px;
}

.list__projects__block__footnote__open-btn {
    width: 100px;
    height: 27px;
}

.list__projects__block__footnote__edit-btn {
    width: 141px;
    height: 27px;
}

.list__projects__block__footnote__delete-btn {
    width: 85px;
    height: 26px;
}

.list__projects__block__footnote__open-btn,
.list__projects__block__footnote__edit-btn,
.list__projects__block__footnote__delete-btn {
    border-radius: 10px;
    background: #4200FF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list__projects__block__footnote__open-btn a,
.list__projects__block__footnote__delete-btn a,
.list__projects__block__footnote__edit-btn a {
    color: #FFF;
    font-family: Neue Machina, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}