.infoFooter {
    max-width: 1920px;
    height: 450px;
    margin: 0 auto;
    padding: 45px 200px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 2%;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__block {
    width: 298px;
    height: 395px;
}

.footer__block__links {
    width: 231px;
    height: 363px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footer__block__links text {
    color: #2F353F;
    font-family: Neue Machina, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.footer__block__links a {
    color: #2E2BD0;
    font-family: Gilroy, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__block__links__mail {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-top: 100px;
}

.footer__block__link__gmail {
    color: #2E2BD0;
    font-family: Gilroy, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline;
}

.footer__block__link__connect {
    color: #FFF;
    font-family: Neue Machina, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    background: #2E2BD0;
    padding: 24px 45px;
    border-radius: 10px;
}